@import url('https://fonts.googleapis.com/css?family=Alata|Montserrat|Open+Sans&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  background-color: #271a33;
  display: flex;
  align-items: center;
}

.app .chatbox {
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f8f2f9;
  height: 80%;
  width: 45%;
  overflow: hidden;
  border-radius: 30px;
}

.app .chatbox .nameSelector {
  position: absolute;
  z-index: 2;
  background-color: rgb(18, 18, 18);
  width: 100%;
  height: 100%;
  transition: .2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .chatbox .nameSelector input {
  width: 60%;
  height: 60px;
  text-align: center;
  font-size: 30px;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: .2s;
}

.app .chatbox .nameSelector input.wrong {
  border-bottom: 2px solid rgb(255, 75, 75);
}

.app .chatbox .nameSelector h2 {
  font-size: 30px;
  color: rgb(48, 238, 164);
  display: none;
}

.app .chatbox .header {
  padding: 20px 30px;
  width: (100% - 60px);
  background-color: white;
}

.app .chatbox .header h4 span {
  margin-left: 10px;
  font-size: 12px;
  font-weight: lighter;
  color: rgb(170, 170, 170);
  letter-spacing: 1px;
  font-family: "Alata", sans-serif;
}

.app .chatbox .chatview {
  flex: 1;
  background-color: white;
  overflow: auto;
  scroll-behavior: smooth;
}

.app .chatbox .chatview::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  padding: 4px 0;
}

.app .chatbox .chatview::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

.app .chatbox .chatview::-webkit-scrollbar-thumb {
  background-color: #9c4ad5;
  border-radius: 50px;
  border: 3px solid #F5F5F5;
}

.app .chatbox .chatview::-webkit-scrollbar-thumb:hover {
  border: 1px solid #F5F5F5;
  transition: border 1s ease;
}

.app .chatbox .actionbox {
  padding: 30px;
  width: calc(100% - 60px);
}

.app .chatbox .actionbox input {
  width: calc(100% - 40px);
  padding: 15px 20px;
  height: 12px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 12px;
}

.app .chatbox .actionbox input::placeholder {
  color: rgb(182, 181, 181);
  font-weight: bold;
}

.app .chatbox .chatview .messages {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  display: table;
}

.app .chatbox .chatview .messages .mainScroll {
  position: relative;
  bottom: 0;
  width: calc(100% - 60px);
  left: 0;
  padding: 0 30px;
  padding-bottom: 30px;
  display:table-cell;
  vertical-align:bottom;
}

.app .chatbox .chatview .messages .messageGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.app .chatbox .chatview .messages .messageGroup .message {
  max-width: 60%;
  padding: 7px 10px;
  border-radius: 3px;
  margin-top: 5px;
  word-break: break-word;
}

.app .chatbox .chatview .messages .messageGroup .message:first-child {
  margin-top: 30px;
}

.app .chatbox .chatview .messages .messageGroup.me .message {
  background-color: #9c4ad5;
  float: right;
  margin-left: auto;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.app .chatbox .chatview .messages .messageGroup.me .message:first-child {
  border-top-right-radius: 10px;
}

.app .chatbox .chatview .messages .messageGroup.me .message:last-child {
  border-bottom-right-radius: 10px;
}

.app .chatbox .chatview .messages .messageGroup.other {
  padding-left: 32px;
  width: calc(100% - 32px);
}

.app .chatbox .chatview .messages .messageGroup.other .userPiture {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 1px;
  transition: .2s;
  margin-top: 7px;
  background-color: #242424;
  background-image: url("https://ui-avatars.com/api/?name=Crawford&bold=true&background=30EEA4&color=242424");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app .chatbox .chatview .messages .messageGroup.other .userPiture .username {
  font-size: 12px;
  background-color: #30EEA4;
  padding: 2px 5px;
  position: absolute;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  max-width: 300px;
  top: calc(-50% - 12px);
  transition: .2s;
  color: #242424;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app .chatbox .chatview .messages .messageGroup.other .userPiture:hover > .username {
  opacity: 1;
  visibility: visible;
}

.app .chatbox .chatview .messages .messageGroup.other .message {
  background-color: #eee9ef;
  margin-right: auto;
  float: left;
  color: #50226f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.app .chatbox .chatview .messages .messageGroup.other .message:nth-child(2) {
  border-top-left-radius: 10px;
}

.app .chatbox .chatview .messages .messageGroup.other .message:last-of-type {
  border-bottom-left-radius: 10px;
}

.app .chatbox .chatview .messages .messageGroup .message p {
  font-size: 12px;
}

.app .chatbox .chatview .messages .messageGroup .message.typing .dots {
  height: 15px;
  width: 30px;
  position: relative;
}

.app .chatbox .chatview .messages .messageGroup .message.typing .dots .dot {
  width: 6px;
  height: 6px;
  background-color: #9c4ad5;
  position: absolute;
  top: 4.5px;
  border-radius: 50%;
  animation-iteration-count: infinite;
	animation-timing-function: linear;
  animation-duration: 2s;
  animation: circle 1.5s infinite ease-in-out;
}

.app .chatbox .chatview .messages .messageGroup .message.typing .dots .dot:first-child {
  left: 0;
  animation-delay: 200ms;
}

.app .chatbox .chatview .messages .messageGroup .message.typing .dots .dot:nth-child(2) {
  left: calc(50% - 3px);
  animation-delay: 300ms;
}

.app .chatbox .chatview .messages .messageGroup .message.typing .dots .dot:last-child {
  right: 0;
  animation-delay: 400ms;
}

@-webkit-keyframes circle{
0%{
  -webkit-transform:translateY(0px)
}
28%{
  -webkit-transform:translateY(-5px)
}
44%{
  -webkit-transform:translateY(0px)
}
}
