@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  background-color: #271a33;
  display: flex;
  align-items: center;
}

.app .chatbox {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f8f2f9;
  height: 80%;
  width: 50%;
  overflow: hidden;
  border-radius: 30px;
}

.app .chatbox .header {
  padding: 20px 30px;
  width: (100% - 60px);
  background-color: white;
}

.app .chatbox .chatview {
  flex: 1;
  background-color: white;
  overflow: auto;
  scroll-behavior: smooth;
}

.app .chatbox .chatview::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  padding: 4px 0;
}

.app .chatbox .chatview::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

.app .chatbox .chatview::-webkit-scrollbar-thumb {
  background-color: #9c4ad5;
  border-radius: 50px;
  border: 3px solid #F5F5F5;
}

.app .chatbox .chatview::-webkit-scrollbar-thumb:hover {
  border: 1px solid #F5F5F5;
  transition: border 1s ease;
}

.app .chatbox .actionbox {
  padding: 30px;
  width: calc(100% - 60px);
}

.app .chatbox .actionbox input {
  width: calc(100% - 40px);
  padding: 15px 20px;
  height: 12px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 12px;
}

.app .chatbox .actionbox input::placeholder {
  color: rgb(182, 181, 181);
  font-weight: bold;
}

.app .chatbox .chatview .messages {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  display: table;
}

.app .chatbox .chatview .messages .mainScroll {
  position: relative;
  bottom: 0;
  width: calc(100% - 60px);
  left: 0;
  padding: 0 30px;
  padding-bottom: 30px;
  display:table-cell;
  vertical-align:bottom;
}

.app .chatbox .chatview .messages .messageGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app .chatbox .chatview .messages .messageGroup .message {
  max-width: 60%;
  padding: 7px 10px;
  border-radius: 3px;
  margin-top: 5px;
  word-break: break-word;
}

.app .chatbox .chatview .messages .messageGroup .message:first-child {
  margin-top: 30px;
}

.app .chatbox .chatview .messages .messageGroup.me .message {
  background-color: #9c4ad5;
  float: right;
  margin-left: auto;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.app .chatbox .chatview .messages .messageGroup.me .message:first-child {
  border-top-right-radius: 10px;
}

.app .chatbox .chatview .messages .messageGroup.me .message:last-child {
  border-bottom-right-radius: 10px;
}

.app .chatbox .chatview .messages .messageGroup.other .message {
  background-color: #eee9ef;
  margin-right: auto;
  float: left;
  color: #50226f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.app .chatbox .chatview .messages .messageGroup.other .message:first-child {
  border-top-left-radius: 10px;
}

.app .chatbox .chatview .messages .messageGroup.other .message:last-child {
  border-bottom-left-radius: 10px;
}

.app .chatbox .chatview .messages .messageGroup .message p {
  font-size: 12px;
}
