doctype html
head
  meta(charset='utf-8')
  title #{title}
  link(rel="shortcut icon" href="./favicon.ico")
  link(rel='stylesheet', href='./fonts/crawford-icons/style.css')
  link(rel='stylesheet', href='./css/main.css')
#main-wrapper
  nav.coll-menu
    .button-container
      button(rel="profile" name='button')
        .pPicture
        #appname.title
          p #{appname}
      button.active(rel="activity")
        i.cr-activity
        .title
          p Activity
      button(rel="channels")
        i.cr-cast
        .title
          p Channels
      button(rel="terminal")
        i.cr-terminal
        .title
          p Terminal
    .button-container
      button#resizer-btn.coll
        i.cr-chevron-right
        .title
          p Expand
      button#sign
        i.cr-log-out
        .title
          p Log Out
  #main-sandbox
    section.sectionCanvas#profile
      h1 Profile
    section.sectionCanvas#activity.active
      h1 Activity
    section.sectionCanvas#channels
      h1 Channels
    section.sectionCanvas#terminal
      div.sectionTitle
        h1 Terminal
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='./js/main.js', charset='utf-8')
